[Unit]
Description=HomeBrain Manager
After=network.target

[Service]
User=root
WorkingDirectory=/opt/homebrain/src
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/opt/homebrain/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:80 --timeout 30 app:app
Restart=always
RestartSec=10
TimeoutStartSec=60
TimeoutStopSec=30
StartLimitIntervalSec=600
StartLimitBurst=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target